{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rapportactivite</h1>

    <table>
        <tbody>
            <tr>
                <th>Annee</th>
                <td>{{ rapportActivite.annee }}</td>
            </tr>
            <tr>
                <th>Nomfichier</th>
                <td>{{ rapportActivite.nomFichier }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ rapportActivite.taille }}</td>
            </tr>
            <tr>
                <th>Filedata</th>
                <td>{{ rapportActivite.filedata }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ rapportActivite.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rapportactivite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rapportactivite_edit', { 'id': rapportActivite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
