{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}

{% block menu %}
{{ gramcmacros.menu(menu) }}
<nav><ul><a class="lien_actif" href="{{ path('statistiques',{'annee': annee}) }}" title="Statistiques">Retour aux statistiques</a></ul></nav>
{% endblock menu %}


{% block myjavascripts %}
<script type="text/javascript" src="{{ asset('js/projet.js') }}" ></script>
{% endblock myjavascripts %}


{% block body %}

<section>

<h1>Répartition des heures par {{ titre }} - {{ annee }}</h1>

{{ form_start(form) }}
{{ form_widget(form.annee) }}{{ form_widget(form.submit) }}
{{ form_end(form) }}

{% set route='statistiques_' ~ titre ~ '_csv' %}
<form action="{{ path(route, { 'annee' : annee }) }}">
<input type="submit" value="Télécharger en csv les statistiques par {{titre}} - année {{ annee }}">
</form>

<br />

<table>
    <thead>
         <tr>
        <td>{{titre}}</td>
        <td>Nombre de projets</td>
        <td>Heures demandées</td>
        <td>Heures attribuées</td>
        <td>Consommation</td>
    </tr>
    </thead>
    <tbody>
        {% for acro in acros %}
        <tr>
            <td>{{ acro }}</td>
            <td>{{ num_projets[acro] }}</td>
            <td>{{ dem_heures[acro] }}</td>
            <td>{{ attr_heures[acro] }}</td>
            <td>{{ conso[acro] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<table>
    <tbody>
        <tr>
            <td>
                <img class="figure" src="data:image/png;base64, {{ image_projets }}"  title="cliquez pour afficher la figure en taille réelle" >
            </td>
            <td>
                <img class="figure" src="data:image/png;base64, {{ image_dem }}"   title="cliquez pour afficher la figure en taille réelle">
            </td>
            <td>
                <img class="figure" src="data:image/png;base64, {{ image_attr }}"   title="cliquez pour afficher la figure en taille réelle">
            </td>
            <td>
                <img class="figure" src="data:image/png;base64, {{ image_conso }}"   title="cliquez pour afficher la figure en taille réelle">
            </td>
        </tr>
        <tr>
            <td>Nombre de projets par {{titre}}</td>
            <td>Nombre d'heures demandées par {{titre}}</td>
            <td>Nombre d'heures attribuées par {{titre}}</td>
            <td>Nombre d'heures consommées par {{titre}}</td>
        <tr>
    </tbody>
</table>
<div id="dialog"></div>

</section>

{% endblock %}
