{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}

{% import "projet/macros_graphiques.html.twig" as macros_graphiques %}
{% block myjavascripts %}
 <script   src="{{ asset('js/projets_experts.js') }}" ></script>
{% endblock myjavascripts %}


{% block body %}

<section>
<h1>Affectation des experts aux demandes de rallonges
    {% if( session2 == null ) %}
        (session {{ session1 }})
    {% else %}
        (sessions {{ session1 }}, {{ session2 }})
    {% endif %}
</h1>
{% if forms|length > 0 %}
<div class="message info"><em>Commencez par sélectionner une ou plusieurs demandes</em></div>
{% endif %}

<p>&nbsp;</p>

<div id="bilan_legende">
    <div id="bilan">
        <table>
            <tbody>
                <tr>
                    <th colspan="2">Demandes</th>
                </tr>
                <tr>
                    <th>Nombre de demandes</th>
                    <td>{{ stats.nbProjets }}</td>
                </tr>
                <tr>
                    <th>Heures demandées</th>
                    <td>{{ stats.nbDemHeures}}</td>
                </tr>
                <tr>
                    <th>Heures attribuées</th>
                    <td>{{ stats.nbAttHeures}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<form name="affecter_les_experts" method="post">
<div id="projets">
    <table id="affecte_experts">
        <thead>
            <tr>
				<th title="Cocher la case pour sélectionner cette rallonge">S</th>
				<th>N/R</th>
                <th>Numéro</th>
                <th>&nbsp;</th>
                <th>Etat</th>
                <th>titre</th>
                <th>Thématique</th>
                <th>Rattachement</th>
                <th>Responsable</th>
                <th>Laboratoire</th>
                <th>Affecté</th>
                <th>Expert</th>
                <th>Demande</th>
                <th>Attribution</th>
                <th>Conso</th>
                {% if ( app.debug == true ) %}
                <th>Etat prj</th>
                <th>Etat version</th>
                <th>Etat rallonge</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for projet in projets %}
            <tr>
                <td>&nbsp;</td>
                {% if ( projet.NR == "" ) %}
                <td class="renouv">&nbsp;</td>
                {% else %}
                 <td class="nouveau"><strong>{{ projet.NR }}</strong></td>
                {% endif %}
                <td>{{ projet.projet }}</td>
                <td>
                    <a href="{{ path('consulter_projet', { 'id' : projet.projet.idProjet } ) }}" title="consulter le projet">
                    <img class="bouton_poussoir" src="{{ asset('icones/consulter.png') }}">
                    </a>
                </td>
                {#<td>{{ macros_graphiques.meta_etat_graphique( projet.etat ) }}</td>#}
                <td>&nbsp;</td>
                <td rowspan="{{ projet.rowspan }}">{{ gramcmacros.afftitre(projet.version.prjtitre) }}</td>
                <td rowspan="{{ projet.rowspan }}">{{ projet.version.prjthematique }}</td>
                <td rowspan="{{ projet.rowspan }}">{{ projet.version.prjrattachement }}</td>

                <td rowspan="{{ projet.rowspan }}">
                    {% if( projet.version.responsable != null ) %}
                    <a class="sudo" href="{{ path('sudo',  { 'id': projet.version.responsable.id }) }}?" title="Changer d'identité">
                            <img class="bouton_poussoir" src="{{ asset('icones/sudo.png') }}" alt="Changer d'identité" /></a>
                    <a href="mailto:{{ projet.version.responsable.mail }}" title="Envoyer un courriel au responsable à l'adresse {{ projet.version.responsable.mail }}">
                            <img src="{{ asset('icones/mail_send.png') }}" alt="Envoyer un mail" /></a>
                    {{ projet.version.responsable.prenom }} {{ projet.version.responsable.nom }}
                    {% endif %}
                </td>



                <td rowspan="{{ projet.rowspan }}">{{ projet.version.labo }}</td>
                <td>
                    {% if( projet.affecte is defined and projet.affecte == true ) %}
                        <img src="{{ asset('icones/actif.png') }}" alt="Choix du président" titre="Affecté par le président">
                    {% endif %}
                </td>
                <td>
                    {% if( projet.version.experts|length!= 0 ) %}
	                    {% for e in projet.version.experts %}
		                    <a class="sudo" href="{{ path('sudo',  { 'id': e.id }) }}?" title="Changer d'identité">
		                            <img class="bouton_poussoir" src="{{ asset('icones/sudo.png') }}" alt="Changer d'identité" /></a>
		                    <a href="mailto:{{ e.mail }}" title="Envoyer un courriel à l'expert à l'adresse {{ e.mail }}">
		                            <img src="{{ asset('icones/mail_send.png') }}" alt="Envoyer un mail" /></a>
	                    {{ e.prenom }} {{ e.nom }} <br />
	                    {% endfor %}
                    {% endif %}

                </td>
                <td>{{ projet.version.demHeures }}</td>
                <td>{{ projet.version.attrHeures }}</td>
                <td rowspan="{{ projet.rowspan }}">{{ projet.conso }}</td>
                {% if ( app.debug == true ) %}
                <td>{{ projet.libelleEtatProjet }}</td>
                <td>{{ projet.libelleEtatVersion }}</td>
                <td></td>
                {% endif %}
            </tr>
			{% for rallonge in projet.rallonges %}
			<tr>
                <td>{% if forms['selection_' ~ rallonge.id] is defined %}{{ form_widget( forms['selection_' ~ rallonge.id].sel )}}{%endif%}</td>
                <td><strong>R</strong></td>
                <td>{{ rallonge.idRallonge }}</td>
                <td>
                    {% if( rallonge.finalisable == true ) %}
                        <a href="{{ path('avant_rallonge_finaliser', { 'id' : rallonge.idRallonge } ) }}" title="finaliser la réponse">
                        <img class="bouton_poussoir" src="{{ asset('icones/modifier.png') }}">
                        </a>
                    {% else %}
                        <a href="{{ path('rallonge_consulter', { 'id' : rallonge.idRallonge } ) }}" title="consulter la demande">
                        <img class="bouton_poussoir" src="{{ asset('icones/consulter.png') }}">
                        </a>
                    {% endif %}
                </td>
                <td>{{ macros_graphiques.meta_etat_graphique( rallonge.metaetat ) }}</td>
                <td>{% if (rallonge.expert!=null)%}<img src="{{ asset('icones/actif.png') }}" alt="Choix du président" titre="Affecté par le président">{% endif %}</td>
                <td>
                    {% if( rallonge.expert!= null ) %}
                    <a class="sudo" href="{{ path('sudo',  { 'id': rallonge.expert.id }) }}?" title="Changer d'identité">
                            <img class="bouton_poussoir" src="{{ asset('icones/sudo.png') }}" alt="Changer d'identité" /></a>
                    <a href="mailto:{{ rallonge.expert.mail }}" title="Envoyer un courriel à l'expert à l'adresse {{ rallonge.expert.mail }}">
                            <img src="{{ asset('icones/mail_send.png') }}" alt="Envoyer un mail" /></a>
                    {{ rallonge.expert.prenom }} {{ rallonge.expert.nom }}
                    {% endif %}

					{% if forms[rallonge.id] is defined %}
					{% for f in forms[rallonge.id] %}{{ form_widget( f.expert, {'attr' : {'class' : 'bouton_affecter'}} ) }}<br />{% endfor %}
                    {% endif %}

                </td>
                <td>{{ rallonge.demHeures }}</td>
                <td>{{ rallonge.attrHeures }}</td>
                {% if ( app.debug == true ) %}
                <td></td>
                <td></td>
                <td>{{ rallonge.libelleEtatRallonge }}</td>
                {% endif %}
			</tr>
			{% endfor %}
		{% endfor %}
        </tbody>
    </table>
    {% if forms['BOUTONS'] is defined %}
		<div id="bouton_affecter">
			<h2>Pour la sélection</h2>
			{#{{ form_start( forms['BOUTONS'] ) }}#}
			{{ form_widget( forms['BOUTONS'].sub1 ) }}
			{{ form_widget( forms['BOUTONS'].sub2 ) }}
			{% if max_expertises_nb > 1 %}
				{{ form_widget( forms['BOUTONS'].sub3 ) }}
				{{ form_widget( forms['BOUTONS'].sub4 ) }}
			{% endif %}
			{#{{ form_end( forms['BOUTONS'] ) }}#}
		</div>
	{% endif %}
</div>

</form>
</section>
{% endblock %}
