{% extends 'default/base.html.twig' %}

{% block body %}

{% if not erreurs == null %}
    <section>
        <div class="message erreur">

            <h2>Envoi de la demande pas possible actuellement</h2>
            Votre demande de rallonge pour le projet {{ projet }} (session {{ session }}) ne <strong>peut pas</strong> être envoyée au président en l'état.<br>
            Merci de la compléter
            {% for erreur in erreurs %}
            <p>ERREUR: {{ erreur }}</p>
            {% endfor %}
        </div>
        <a class="lien_actif" href="{{ path( 'rallonge_expertiser', { 'id': rallonge.idRallonge } )}}" title="Retourner à la rallonge">Retourner</a>   
    </section>
    {% else %}

    <section>
        <h2>Projet {{ projet }}, session {{   session }}: Confirmation d'envoi de l'expertise de demande de rallonge n° {{ rallonge }}</h2>

        <div class="message info">Merci de vérifier votre expertise avant envoi définitif.<br>
        cette expertise sera finalisée par le(la) président(e) du comité d'attributions.
        </div>
        
        <table class="projet">
            <tbody>
                <tr>
                    <th>Validation</th>
                    <td>
                        {% if( rallonge.validation == true ) %}
                            <strong>ACCEPTE</strong>
                        {% elseif( rallonge.validation == false ) %}
                            <strong>REFUSE</strong>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Heures attribuées</th>
                    <td>{{ rallonge.nbHeuresAtt }}</td>
                </tr>
                <tr>
                    <th>Commentaire interne</th>
                    <td>{{ rallonge.commentaireInterne }}</td>
                </tr>
                <tr>
                    <th>Commentaire envoyé au responsable</th>
                    <td>{{ rallonge.commentaireExterne }}</td>
                </tr>
            </tbody>
        </table>

        <div class="message warning">
            <strong>Confirmez-vous cette expertise ? </strong><br>
            
            <nav>
                <ul>
                    <li>
                        <a class="lien_actif" href="{{ path( 'rallonge_expertiser', { 'id' : rallonge.idRallonge } ) }}" title="Annuler et retourner à votre expertise">ANNULER</a>
                    </li>
                    <li>
                        <a class="lien_actif" href="{{ path( 'rallonge_envoyer_president', { 'id': rallonge.idRallonge } ) }}" title="Envoyer votre demande au président">ENVOYER</a>
                    </li>
                </ul>
            </nav>
            
        </div>

    </section>

    
{% endif %}



{% endblock %}
