{% extends 'default/base.html.twig' %}

{% import "default/macros.html.twig" as gramcmacros %}

{% block myjavascripts %}

{{ parent() }}

<script   src="{{ asset('js/compteur_caracteres.js') }}" ></script>

{% endblock myjavascripts %}

{% block body %}

{{ gramcmacros.menu(menu) }}

<section>

    <h1>Demande de rallonge pour le projet {{ projet }} (session {{ session }})</h1>

    <table class="projet">
        <tbody>
            <tr>
                <th class="horiz">Nombre d'heures demandées</th>
                <td>{{ rallonge.demHeures }}</td>
            </tr>
            <tr>
                <th class="horiz">Nombre d'heures attribuées</th>
                <td>{{ rallonge.attrHeures }}</td>
            </tr>
        </tbody>
    </table>

    <table class="projet">
        <tbody>
            <tr>
                <th>Justification scientifique de la demande</th>
            </tr>
            <tr>
                <td>{{ rallonge.prjJustifRallonge| e | nl2br }}</td>
            </tr>
        </tbody>
    </table>

    <table class="projet">
        <tbody>
            <tr>
                <th>Commentaire du président</th>
            </tr>
            <tr>
                <td>{{ rallonge.commentaireExterne }}</td>
            </tr>
        </tbody>
    </table>

</section>

<div class="center"><a href="{{ path('consulter_version', { 'id': version.projet.idProjet, 'version': version.idVersion }) }}" title="Consulter le projet" class="lien_actif">Vers le projet </a></div>


{% endblock %}
