{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rallonge</h1>

    <table>
        <tbody>
            <tr>
                <th>Etatrallonge</th>
                <td>{{ rallonge.etatRallonge }}</td>
            </tr>
            <tr>
                <th>Demheures</th>
                <td>{{ rallonge.demHeures }}</td>
            </tr>
            <tr>
                <th>Attrheures</th>
                <td>{{ rallonge.attrHeures }}</td>
            </tr>
            <tr>
                <th>Prjjustifrallonge</th>
                <td>{{ rallonge.prjJustifRallonge }}</td>
            </tr>
            <tr>
                <th>Attraccept</th>
                <td>{% if rallonge.attrAccept %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Idrallonge</th>
                <td>{{ rallonge.idRallonge }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rallonge_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rallonge_edit', { 'id': rallonge.idRallonge }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
