{% extends 'default/base.html.twig' %}

{% block body %}
<section>
    <h1>MetaThématiques utilisables par les projets gramc</h1>

    {% import "default/macros.html.twig" as gramcmacros %}
    {{ gramcmacros.menu(menu) }}

    <table id="general" >
    <thead>
    <tr>{% if is_granted('ROLE_ADMIN') %}<th colspan="2">&nbsp;</th>{% endif %}<th>Libellé</th><th>Thématiques correspondantes</th></tr>
    </thead>
    <tbody>
    {% for thema in metathematiques %}
        <tr>
			{% if is_granted('ROLE_ADMIN') %}
            <td>
                <a class="suppression" href="{{ path('supprimer_metaThematique',{'id' : thema.idMetaThematique }) }}" title="Supprimer">
                <img class="bouton_poussoir" src="{{ gramcmacros.img_supprimer() }}" alt="Supprimer" /></a>
            </td>
            <td>
                <a class="modification" href="{{ path('modifier_metaThematique',{'id' : thema.idMetaThematique }) }}" title="Modifier le libellé">
                <img class="bouton_poussoir" src="{{ gramcmacros.img_modifier() }}" alt="Modifier" /></a>
            </td>
            {% endif %}
            <td>{{ thema.libelle }}</td>
            <td>{{thema.thematique | join(', ')}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</section>

{% endblock body  %}
