{% extends 'base.html.twig' %}

{% block body %}
    <h1>Metathematique</h1>

    <table>
        <tbody>
            <tr>
                <th>Libelle</th>
                <td>{{ metaThematique.libelle }}</td>
            </tr>
            <tr>
                <th>Idmetathematique</th>
                <td>{{ metaThematique.idMetaThematique }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('metathematique_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('metathematique_edit', { 'id': metaThematique.idMetaThematique }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
