{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}

{% block myjavascripts %}
<script  type="text/javascript" src="{{ asset('js/projets_experts.js') }}" ></script>
<script  type="text/javascript" src="{{ asset('js/gerer_projets_annee.js') }}" ></script>
<script  type="text/javascript" src="{{ asset('js/projet.js') }}" ></script>
{% endblock myjavascripts %}

{% block body %}

<div id="dialog-compta"></div>

<section>
    <h2>Projets de l'année {{ annee }}</h2>

    {{ form_start(form) }}
        {{ form_widget(form.annee) }}{{ form_widget(form.submit) }}
    {{ form_end(form) }}

    <br />
    {% if noconso==false %}
    {% if isRecupAutomne and isRecupPrintemps %}
    <div class="message erreur">
        <h2>ERREUR DE CONFIGURATION !!!</h2>
        <p>Il y a recouvrement entre automne et printemps, vérifiez les paramètres recup_printemps_d, recup_printemps_f, recup_automne_d, recup_automne_f (fichier parameters.yml)</p>
        <p><em>Tant que vous verrez ce message, les valeurs de cet écran seront probablement erronées.</em></p>
    </div>
    {% else %}
        {% if isRecupPrintemps %}
            <div class="message info">
                <h2>Pénalités de printemps</h2>
                <p>Vous pouvez appliquer dès maintenant les pénalités sur les gros projets pour sous-consommation au cours des 6 premiers mois de l'année</p>
            </div>
        {% endif %}
        {% if isRecupAutomne %}
            <div class="message info">
                <h2>Pénalités d'Automne</h2>
                <p>Vous pouvez appliquer dès maintenant les pénalités sur certains projets pour sous-consommation en Juillet et Août</p>
            </div>
        {% endif %}
    {% endif %}
    <form action="{{ path('projet_annee_csv', {'annee': annee }) }}">
        <input type="submit" value="Télécharger en csv pour l'année {{ annee }}" />
    </form>
    <hr />
    <div class="message info">
        <p>Les heures gpu affichées sont des heures <strong>normalisées</strong></p>
    </div>

	<div id="legende">
	    <h3>Légende</h3>
	    <span id="legende_conso_1">Consommation dépassant {{conso_seuil_1}} %</span><br />
	    <span id="legende_conso_2">Consommation dépassant {{conso_seuil_2}} %</span><br />
	    <span id="legende_alerte">Incohérence entre quota machine et heures attribuées</span><br />
	</div>
    {% endif %}

	 <div id="bilan_legende"><div id="bilan">

		 <table>
		    <tr>
		        <th colspan="2">Session A</th>
		    </tr>
		     <tr>
		        <th>Heures demandées</th>
		        <td>{{ total.demHeuresA|number_format(0, ',', ' ') }}</td>
		    </tr>
		    <tr>
		        <th>Heures attribuées</th>
		        <td>{{ total.attrHeuresA|number_format(0, ',', ' ') }}</td>
		    </tr>
		 </table>
		 <table>
		    <tr>
		        <th colspan="2">Session B</th>
		    </tr>
		     <tr>
		        <th>Heures demandées</th>
		        <td>{{ total.demHeuresB|number_format(0, ',', ' ') }}</td>
		    </tr>
		    <tr>
		        <th>Heures attribuées</th>
		        <td>{{ total.attrHeuresB|number_format(0, ',', ' ') }}</td>
		    </tr>
		 </table>
		 <table>
		    <tr>
		        <th colspan="2">Projets test</th>
		    </tr>
		     <tr>
		        <th>Nombre de projets test</th>
		        <td>{{ total.prjTest }}</td>
		    </tr>
		     <tr>
		        <th>Heures demandées</th>
		        <td>{{ total.demHeuresT|number_format(0, ',', ' ') }}</td>
		    </tr>
		    <tr>
		        <th>Heures attribuées</th>
		        <td>{{ total.attrHeuresT|number_format(0, ',', ' ') }}</td>
		    </tr>
		 </table>
		 <table>
		    <tr>
		        <th colspan="2">Rallonges</th>
		    </tr>
		     <tr>
		        <th>Nombre de rallonges</th>
		        <td>{{ total.rall }}</td>
		    </tr>
		     <tr>
		        <th>Heures demandées</th>
		        <td>{{ total.demHeuresR|number_format(0, ',', ' ') }}</td>
		    </tr>
		    <tr>
		        <th>Heures attribuées</th>
		        <td>{{ total.attrHeuresR|number_format(0, ',', ' ') }}</td>
		    </tr>
		 </table>

		 {% if noconso==false %}
		 <table>
		    <tr>
		        <th colspan="2">Pénalités</th>
		    </tr>
		     <tr>
		        {# Le id est important seulement pour faire fonctionner les boutons javascript !!! #}
		        <th>Printemps</th>
		        {% if isRecupPrintemps %}<td id="stats_penal">{% else %}<td>{% endif %}{{ total.penalitesA|number_format(0, ',', ' ') }}</td>
		    </tr>
		     <tr>
		        <th>Automne</th>
		        {% if isRecupAutomne %}<td id="stats_penal">{% else %}<td>{% endif %}{{ total.penalitesB|number_format(0, ',', ' ') }}</td>
		    </tr>
		 </table>
		{% endif %}

		 <table>
		    <tr>
		        <th colspan="2">Données consolidées</th>
		    </tr>
		     <tr>
		        <th>Nombre de projets</th>
		        <td>{{ total.prj }}</td>
		    </tr>
		     <tr>
		        <th>Heures demandées</th>
		        <td>{{ total.demHeuresP|number_format(0, ',', ' ') }}</td>
		    </tr>
		    <tr>
		        <th>Heures attribuées</th>
		        <td>{{ total.attrHeuresP|number_format(0, ',', ' ') }}</td>
		    </tr>
		    {% if noconso==false %}
		    <tr>
		        <th>Heures consommées</th>
		        <td>{{ total.consoHeuresP|number_format(0, ',', ' ') }}</td>
		    </tr>
		    {% endif %}
		 </table>

		 <table>
		    <tr>
		        <th colspan="2">Prévisionnel<br />(sans compter les projets entreprises)</th>
		    </tr>
		     <tr>
		        <th>Heures pour une année</th>
		        <td>{{ heures_par_an|number_format(0, ',', ' ') }}</td>
		    </tr>
		     <tr>
		        <th>Heures déjà attribuées<br />(y compris rallonges et pénalités)</th>
		        <td id="stats_attribuees">{{ total.attrHeuresP|number_format(0, ',', ' ') }}</td>
		    </tr>
		    {% if noconso==false %}
		    <tr>
		        <th>Heures récupérables</th>
		        <td id="stats_recuperables">
		            {% if isRecupPrintemps or isRecupAutomne %}
		                {{ total.recupHeuresP|number_format(0, ',', ' ') }}
		            {% else %}
		                N/A
		            {%endif%}
		        </td>
		    </tr>
		    <tr>
		        <th>Heures consommées</th>
		        <td>{{ total.consoHeuresP|number_format(0, ',', ' ') }}</td>
		    </tr>
		    <tr>
		        <th>Heures attribuables</th>
		        <td id="stats_attribuables" title="h_par_an/2 - (h_attribuees - h_consommees)">
		            {# Pertinent seulement à la fin Juin ! #}
		            {% if isRecupPrintemps %}
		                {% set attribuables = heures_par_an/2 - (total.attrHeuresP-total.consoHeuresP) %}
		                {% if attribuables>0 %}
		                    {{ attribuables|number_format(0, ',', ' ') }}
		                {% else %}
		                    0
		                {% endif %}
		            {% else %}
		                N/A
		            {% endif %}
		        </td>
		    </tr>
			{% endif %}
		 </table>
	</div>

	{% if noconso==false %}
	<div class="lien-pdf">
	    <img id="bconso_allcpu" class="bouton_poussoir conso" src="{{ asset('icones/conso64.png') }}"
	        alt="Consommation cpu {{annee}} - Tous les projets" title="Visualiser la consommation cpu {{annee}} - Tous les projets"
	        data-href="{{ absolute_url(path('tous_projets_conso', { 'ressource' : 'cpu', 'annee' : annee })) }}"/>
	</div>
	<div class="lien-pdf">
	    <img id="bconso_allgpu" class="bouton_poussoir conso" src="{{ asset('icones/conso64.png') }}"
	        alt="Consommation gpu {{annee}} - Tous les projets" title="Visualiser la consommation gpu {{annee}} - Tous les projets"
	        data-href="{{ absolute_url(path('tous_projets_conso', { 'ressource' : 'gpu', 'annee' : annee })) }}"/>
	</div>
	{% endif %}
</div>

{# largeur = largeur des colonnes + padding + bordure #}
{% set width=45+3*15+4*170+6*80+ 21*20 + 20 + 20 %}
{% if noconso==false %}
   {% set width = 15 + 6*80 + width %}
	{% if isRecupPrintemps %}
	   {% set width=80+45 + 2*20 + 35 + width %}
	{% endif %}
	{% if isRecupAutomne %}
	   {% set width=80+80+80+45 + 4*20 + 35 + width %}
	{% endif %}
{%endif %}

<div id="projets" >
    <table id="table_projets_annee" class="scrtable dataTable no-footer" role="grid" style="width: {{width}}px" >
        <thead>
            <tr>
                <th class="w45">N°</th>
                <th class="w15"></th>
                <th class="w15" title="Etat">E</th>
                {% if noconso==false %}<th class="w15" title="Consommation">C</th>{% endif %}
                <th class="w170" title="Etat du projet">Titre</th>
                <th class="w170">Thématique</th>
                <th class="w170">Rattachement</th>
                <th class="w170">Responsable</th>
                <th class="w80">Laboratoire</th>
                <th class="w15">R.A.</th>
                <th class="w80">Demandes A</th>
                <th class="w80">Attrib A</th>
                <th class="w80">Demandes B</th>
                <th class="w80">Attrib B</th>
                <th class="w80">Rallonges</th>
                {% if noconso==false %}<th class="w80">Pénalités</th>{% endif %}
                <th class="w80">Attributions</th>
                {% if noconso==false %}
                <th class="w80">Quota</th>
                <th class="w80">Conso (h)</th>
                <th class="w80">Conso (%)</th>
                <th class="w80">Conso gpu</th>
                {% if isRecupPrintemps %}
                    <th class="w80">Récupérables (h)</th>
                    <th class="w45">Récup</th>
                {% endif %}
                {% if isRecupAutomne %}
                    <th class="w80">Attr Eté</th>
                    <th class="w80">Conso Eté</th>
                    <th class="w80">Récupérables (h)</th>
                    <th class="w45">Récup</th>
                {% endif %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for prj_array in projets %}

            {% set projet=prj_array.p %}
            {% set va=prj_array.va %}
            {% set vb=prj_array.vb %}

				{% if noconso==false %}
	            {% if prj_array.q != prj_array.attrib %}
	            <tr class="alerte" >
	            {% elseif prj_array.cp >= conso_seuil_2 %}
	            <tr class="conso_seuil_2" >
	            {% elseif prj_array.cp >= conso_seuil_1 %}
	            <tr class="conso_seuil_1" >
	            {% else %}
	            <tr>
	            {% endif %}
		        {% else %}
				<tr>
				{%endif%}
                <td class="w45">{{ projet.id }}</td>
                <td class="w15">
                    {% set version=annee|slice(2,2) ~ 'A' ~ projet %}
                    <a href="{{ path('consulter_version', { 'id':projet.idprojet,'version': version }) }}" title="Consulter le projet">
                        <img class="bouton_poussoir" src="{{ asset('icones/consulter.png') }}" alt="Consulter" />
                    </a>
                </td>
                <td class="w15">
                    {{ gramcmacros.metagraph(projet.metaetat) }}
                </td>

                {% if noconso==false %}
                <td class="w15">
                    <img id="bconso_{{ projet.idProjet }}"  class="bouton_poussoir conso" src="{{ asset('icones/courbe.png') }}"
                    title="{{ projet.idProjet }}: Evolution de la consommation pour {{annee}}" alt="{{ projet.idProjet }}: Evolution de la consommation pour {{annee}}"
                    data-href="{{ absolute_url(path('projet_conso', { 'id': projet.idProjet, 'annee' : annee })) }}" />
                </td>
                {% endif %}

                <td class="w170">
                    {{ gramcmacros.afftitre(projet.titre) }}
                </td>
                <td class="w170">
                    {{ gramcmacros.tronquer_chaine(projet.thematique,20) }}
                </td>
                 <td class="w170">
					 {% if projet.rattachement.id == 1 %} &nbsp; {% else %} {{ gramcmacros.tronquer_chaine(projet.rattachement,20) }} {% endif %}
                </td>
               
                <td class="w170">
                    <a href="mailto:{{ projet.responsable.mail }}"><img src="{{ asset('icones/mail_send.png') }}" alt="Envoyer un mail" /></a>{{ projet.responsable.prenom }} {{ projet.responsable.nom }}
                </td>
                <td class="w80">
                    {{ gramcmacros.tronquer_chaine(projet.laboratoire,20) }}
                </td>
                <td class="w15">
                   {# {% if not projet.rapportactivite %}
                        <img src="{{ asset('icones/pdf.png') }}" />
                    {% else %}
                        -
                    {% endif %} #}&nbsp;
                </td>
                {% if va is not empty %}
                    <td class="w80">
                        {{ va.demHeures }}
                    </td>
                    <td class="w80">
                        {{ va.attrHeures }}
                    </td>
                {% else %}
                    <td class="w80">
                        &nbsp;
                    </td>
                    <td class="w80" >
                        &nbsp;

                    </td>
                {% endif %}
                {% if vb is not empty %}
                    <td class="w80" >
                        {% if prj_array.toomuch %} <img src="{{ asset('icones/attention16.png') }}" alt="Demande trop forte, cf. règles d'attribution" title="Demande trop forte, cf. règles d'attribution" /> {% endif %}
                        {{ vb.demHeures }}
                    </td>
                    <td class="w80" >
                        {{ vb.attrHeures }}
                    </td>
                {% else %}
                    <td class="w80" >
                        &nbsp;
                    </td>
                    <td class="w80" >
                        &nbsp;
                    </td>
                {% endif %}
                <td class="w80" >
                    {% if prj_array.r > 0 %}
                        {{ prj_array.r }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                {% if noconso==false %}
                <td class="w80 penalite" >
                    {{ (prj_array.penal_a + prj_array.penal_b) }}
                </td>
                {% endif %}
                <td class="w80 attr" >
                    {{prj_array.attrib }}
                </td>
                {% if noconso==false %}
                <td class="w80" >
                    {{prj_array.q }}
                </td>
                <td class="w80" >
                    {{prj_array.c }}
                </td>
                <td class="w80" >
                    {{ "%5.1f" | format(prj_array.cp) }}
                </td>
                <td class="w80" >
                    {{prj_array.g}}
                </td>

                   {# Pénalités de printemps: On récupère des heures sur les sessions 'A' uniquement                #}
                   {# Pénalités d'automne: On récupère des heures sur les sessions 'B' uniquement                   #}
                   {# Je mets systématiquement deux boutons pour appliquer/récupérer, mais l'un des deux est caché  #}
                   {# Ainsi le javascript pourra plus aisément contrôler tout ça                                    #}
                   {% if isRecupPrintemps %}
                        {# Pas de pénalités sur les projets tests ! #}
                        {% if projet.id starts with 'P' %}
                            <td class="w80 recuperable">
                                {% if prj_array.penal_a==0 %}{{prj_array.recuperable}}{% else %}0{% endif %}</td>
                            <td class="w45">
                                {% if prj_array.penal_a==0 %}{% set invisible_recup="" %} {% set invisible_norecup="invisible" %} {% endif %}
                                {% if prj_array.penal_a >0 %}{% set invisible_recup="invisible" %} {% set invisible_norecup="" %} {% endif %}
                                {% if prj_array.penal_a>0 or prj_array.recuperable>0 %}
                                    <a href="{{ path('penal_version', { 'id': prj_array.va.idversion, 'penal' : prj_array.recuperable }) }}" class="bouton_penalite {{invisible_recup}}" ><img class="bouton_poussoir" src="{{ asset('icones/recup.png') }}" alt="Appliquer la pénalité" title="Appliquer la pénalité" /></a>
                                    <a href="{{ path('penal_version', { 'id': prj_array.va.idversion, 'penal' : -prj_array.recuperable }) }}" class="bouton_penalite {{invisible_norecup}}" ><img class="bouton_poussoir" src="{{ asset('icones/pasrecup.png') }}" alt="Supprimer la pénalité" title="Supprimer la pénalité" /></a>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                        {% else %}
                            <td class="w80" >&nbsp;</td><td class="w45" >&nbsp;</td>
                        {% endif %}
                    {% endif %}
                    {% if isRecupAutomne %}
                        {# Pas de pénalités sur les projets tests ! #}
                        {% if projet.id starts with 'P' %}
                            <td class="w80"> {{ prj_array.attrete }}</td>
                            <td class="w80"> {{ prj_array.consoete}} </td>
                            <td class="w80 recuperable">
                                {% if prj_array.penal_b==0 %}{{prj_array.recuperable}}{% else %}0{% endif %}</td>
                            <td class="w45">
                                {% if prj_array.penal_b==0 %}{% set invisible_recup="" %} {% set invisible_norecup="invisible" %} {% endif %}
                                {% if prj_array.penal_b >0 %}{% set invisible_recup="invisible" %} {% set invisible_norecup="" %} {% endif %}
                                {% if prj_array.penal_b>0 or prj_array.recuperable>0 %}
                                    <a href="{{ path('penal_version', { 'id': prj_array.vb.idversion, 'penal' : prj_array.recuperable }) }}" class="bouton_penalite {{invisible_recup}}" ><img class="bouton_poussoir" src="{{ asset('icones/recup.png') }}" alt="Appliquer la pénalité" title="Appliquer la pénalité" /></a>
                                    <a href="{{ path('penal_version', { 'id': prj_array.vb.idversion, 'penal' : -prj_array.recuperable }) }}" class="bouton_penalite {{invisible_norecup}}" ><img class="bouton_poussoir" src="{{ asset('icones/pasrecup.png') }}" alt="Supprimer la pénalité" title="Supprimer la pénalité" /></a>
                                {% else %}
                                    &nbsp;
                                {% endif %}

                            </td>
                        {% else %}
                            <td class="w80" >&nbsp;</td><td class="w80" >&nbsp;</td><td class="w80" >&nbsp;</td><td class="w45" >&nbsp;</td>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="formulaire_confirmation"></div>

</section>
{% endblock body %}
