<h1>Consommations </h1>

<ul>
	{% if type=='group' %}
		{% for k,r in ressources_conso_group %}
			<li>
				<img class="bouton_poussoir conso" src="{{ asset('icones/conso16.png') }}"
	                 alt="Consommation - {{projet}} - {{annee}} - {{r.nom}}"
	                 data-href="{{ absolute_url(path('projet_conso_ressource', { 'id': projet.idProjet, 'ress_id' : k, 'utype': 'group', 'annee' : annee }))}}" /> {{ projet }} ({{ annee }}) - {{ r.nom }}
	        </li>
		{% endfor %}
	{% endif %}
</ul>
