{% extends 'version/collaborateurs.html.twig' %}

{% block myjavascripts %}

{{ parent() }}

<script   src="{{ asset('js/compteur_caracteres.js') }}" ></script>
<script   src="{{ asset('js/figures.js') }}" ></script>
<script   src="{{ asset('js/jquery-upload-file-master/js/jquery.uploadfile.min.js') }}" ></script>
<script   src="{{ asset('js/upload.js') }}" ></script>
<script   src="{{ asset('js/formulaire_onglet.js') }}" ></script>

<script>
  $( function()
    {
    $( "#onglets" ).tabs( { classes: { "ui-tabs": "highlight" } });
    });
</script>

{% endblock myjavascripts %}

{# ####################################################################################################### #}
{% form_theme form _self %}
{% form_theme collaborateur_form _self %}

{% block form_start %} {# pour ajouter enctype="multipart/form-data" pour upload #}
 {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}enctype="multipart/form-data">
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}

{% endblock form_start %}

{# ####################################################################################################### #}

{% import _self as macrosmodifier %}

{% macro info_televersement(img_1,img_2,img_3) %}
    <div class="message info" style="font-size:.8em"><h2>Téléversement par glisser-déposer</h2>
        Vous pouvez téléverser des figures pour illustrer vos propos.
        <ol style="text-align:left" >
            <li><strong>Merci de redimensionner</strong> au préalable vos images à <strong>800x400 pixels max</strong></li>
            <li>Vous pouvez glisser-déposer vos fichiers dans l'une des zônes ci-dessus</li>
        </ol>
    </div>
    <div class="message info" style="font-size:.8em"><h2>... ou Téléversement classique</h2>
        <ul style="text-align: left;">
            <li>
                <strong>Figure 1 {{ form_errors( img_1.filename ) }}</strong>
                {{ form_widget( img_1.filename ) }}{{ form_widget( img_1.image ) }}
            </li>
            <li>
                <strong>Figure 2 {{ form_errors( img_2.filename ) }}</strong>
                {{ form_widget( img_2.filename ) }}{{ form_widget( img_2.image ) }}
            </li>
            <li>
                <strong>Figure 3 {{ form_errors( img_3.filename ) }}</strong>
                {{ form_widget( img_3.filename ) }}{{ form_widget( img_3.image ) }}
            </li>
        </ul>
        <em>Cliquez sur <strong>FERMER</strong> pour téléverser définitivement vos figures</em>
        <div class="quitter" >
            <button type="submit" id="form_fermer" name="form[fermer]" title="Enregistrer et fermer le projet">Fermer</button>
        </div>
    </div>
{% endmacro %}


{% block body %}

<h1>Demande de ressources - projet {{ version.projet }} (session {{ version.session }}) ddd</h1>

{% if not todo is empty %}
<div class="message warning">
    <h2>Champs à compléter</h2>
    Les champs ci-dessous <strong>doivent être complétés</strong> avant que vous puissiez envoyer votre projet en expertise.<br />

    {% if 'prj_titre' in todo %}<a href="#form_prjTitre" class="gerer_onglets">titre du projet</a><br>{% endif %}
    {% if 'dem_heures' in todo %}<a href="#form_demHeures" class="gerer_onglets">Nombre d'heures demandées</a><br>{% endif %}
    {% if 'prj_id_thematique' in todo %}<a href="#form_prjThematique" class="gerer_onglets">Choix d'une thématique</a><br>{% endif %}
    {% if 'prj_resume' in todo %}<a href="#form_prjResume" class="gerer_onglets">Résumé du projet</a><br>{% endif %}
    {% if 'prj_expose' in todo %}<a href="#form_prjExpose" class="gerer_onglets">Exposé scientifique</a><br>{% endif %}
    {% if 'code_nom' in todo %}<a href="#form_codeNom" class="gerer_onglets">Nom du logiciel</a><br>{% endif %}
    {% if 'code_licence' in todo %}<a href="#form_codeLicence" class="gerer_onglets">Licence du logiciel</a><br>{% endif %}
    {% if 'code_heures_p_job' in todo %}<a href="#form_codeHeuresPJob" class="gerer_onglets">Nombre d'heures par job</a><br>{% endif %}
    {% if 'code_ram_p_coeur' in todo %}<a href="#form_codeRamPCoeur" class="gerer_onglets">Ram utilisée par coeur</a><br>{% endif %}
    {% if 'code_ram_part' in todo %}<a href="#form_codeRamPart" class="gerer_onglets">Ram partagée utilisée</a><br>{% endif %}
    {% if 'code_eff_paral' in todo %}<a href="#form_codeEffParal" class="gerer_onglets">Efficacité parallèle</a><br>{% endif %}
    {% if 'code_vol_donn_tmp' in  todo %}<a href="#form_codeVolDonnTmp" class="gerer_onglets">Espace-disque nécessaire</a><br>{% endif %}
    {% if 'dem_post_trait' in todo %}<a href="#form_demPostTrait" class="gerer_onglets">Visualisation à distance</a><br>{% endif %}
    {% if 'gpu' in todo %}<a href="#form_gpu" class="gerer_onglets">Utilisation du GPU</a><br>{% endif %}
    {% if 'sond_vol_donn_perm' in todo %}
        <a href="#form_sondVolDonnPerm" class="gerer_onglets">Besoins en stockage permanent: Volume</a><br>{% endif %}
    {% if 'prj_justif_renouv' in todo %}<a href="#form_prjJustifRenouv" class="gerer_onglets">Justification du renouvellement</a><br>{% endif %}
    {% if 'sond_justif_donn_perm' in todo %}
        <a href="#form_sondJustifDonnPerm" class="gerer_onglets">Justification du besoin en stockage permanent</a><br>{% endif %}
    {% if 'collabs' in todo %}
        <a href="#liste_des_collaborateurs" class="gerer_onglets">Liste des collaborateurs</a><br>{% endif %}
    {% if 'rapport_activite' in todo %}<a href="#rapport_activite" class="gerer_onglets">Téléverser le rapport d'activité de l'année précédente</a><br>{% endif %}

</div>
{% endif %} {# {% if not todo is empty %}  #}

<em>Dernière modification par {{ version.majInd }} le {{ version.majStamp | date('d.m.Y H:i:s') }}</em>



{{ form_start( form , { 'attr': { 'id': 'form_projet' } } )  }}

<div id="onglets" >

<nav id="menu_formulaire">

  <ul id="ul_formulaire" >

    <li >
        <a  href="#tab1">I. Présentation</a>
    </li>
    <li >
        <a   href="#tab2">II. Description scientifique</a>
    </li>
    <li>
        <a   href="#tab3">III. Description technique</a>
    </li>
    <li >
        <a   href="#tab4">IV. Formation</a>
    </li>

  </ul>
</nav>


<div id="tab1" class="onglet">
    <br><br>
    <h3>Présentation générale</h3>
    <table class="projet"><tbody>


    <tr>
        <th class="horiz">{{ form_label( form.prjTitre  ,"Titre du projet *" ) }}</th>
        <td>{{ form_widget( form.prjTitre  ,
                { 'attr':
                    {
                    'size': '90',
                    'style' : ''
                     }
                })
            }}
        </td>
    </tr>
    <tr>
        <th class="horiz">{{ form_label( form.prjThematique, "Thématique principale du projet" ) }} </th>
        <td>{{ form_widget( form.prjThematique ) }}</td>
    </tr>
    <tr>
        <th class="horiz">{{ form_label( form.prjSousThematique, "Sous-thématique (éventuellement)" ) }} </th>
        <td>{{ form_widget( form.prjSousThematique ) }}</td>
    </tr>


    </tbody></table>

    <div class="message warning"><h2>Heures normalisées</h2>

<ul><li>Les heures que vous demandez seront utilisables indifféremment sur des noeuds CPU ou des noeuds avec GPU.</li>
<li>Les heures GPU utilisées seront converties en heures cpu avec un coefficient de conversion égal à 33.</li>
<li>Si vous pensez utiliser les noeuds GPU <strong>vous devez prendre en compte ce coefficient de conversion</strong>.
<li>Votre demande d'heures totale intègre vos besoins en usage des noeuds CPU (rien ne change par rapport à EOS) <strong>et vos besoins en usage des noeuds GPU</strong>.</li>
</ul>

<h4>Quelques exemples:</h4>
<ul>
<li>Un calcul utilisant <strong>1 cœur</strong> et <strong>1 GPU</strong> durant <strong>1 heure</strong> comptera 1+33=<strong>34 heures</strong></li>
<li>Un calcul utilisant <strong>2 cœurs</strong>  et <strong>2 GPUs</strong> durant <strong>1 heure</strong> comptera 2+2x33=<strong>68 heures</strong></li>
<li>Un calcul utilisant <strong>36 cœurs</strong> et <strong>4 GPUs</strong> durant <strong>1 heure</strong> comptera 36+4x33 = <strong>168 heures</strong></li>
</ul>

<p>Plus de détails <a href="{{mesoc_web}}"><strong>sur notre site web</strong></a></p>

</div>

    <table class="projet"><tbody>

    <tr>
        <th class="horiz">{{ form_label( form.demHeures, "Nombre d'heures demandées") }} </th>
        <td>{{ form_widget( form.demHeures) }}</td>
    </tr>
    <tbody></table>

    <h4>Laboratoire et responsable du projet</h4>
    <div class="message warning">Le laboratoire associé au projet est le laboratoire du responsable</div>

    <table class="projet"><tbody>
        <tr>
            <th class="petite_col">Nom</th>
            <th>Mail</th>
            <th>Statut</th>
            <th>Laboratoire</th>
        </tr>
        <tr>
            <td>{{  version.responsable }}</td>
            <td>{% if( not version.responsable == null ) %}{{  version.responsable.mail }}{% endif %}</td>
            <td>{% if( not version.responsable == null ) %}{{  version.responsable.statut }}{% endif %}</td>
            <td>{% if( not version.responsable == null ) %}{{  version.responsable.labo }}{% endif %}</td>
        </tr>
    </tbody></table>

    <h4 id="collabs">Personnes participant au projet</h4>
    <div class="message warning"><strong>Astuce:</strong> Commencez par l'adresse mail !</div>

    <div id="liste_des_collaborateurs">
    {{ form_widget(collaborateur_form) }}
    </div>

    <div id="rapport_activite">
    <h4>Rapport d'activité de l'année précédente</h4>
    {% if version.typeSession == 'B'  %}
        <div class="message info">Vous n'avez pas besoin de téléverser de rapport d'activité lors d'une session B. <br />Nous vous le demanderons à la fin de l'année</div>
    {% elseif version.anneeRapport == 0 %}
        <div class="message info">Vous n'avez pas besoin de téléverser de rapport d'activité maintenant. Nous vous le demanderons à la fin de l'année</div>
    {% else %}
        <div id="uploadstatus"></div>
        <div id="fileuploader"><a href="{{ path('televerser_rapport', { 'id' : version.idVersion } ) }}" target="_blank" >
            <strong>Téléversez le rapport d'activité</strong></a></div>
    {% endif %}
    </div>

    {% if version.versionPrecedente != null  %}
    <h4 id="prj_justif_renou">Justification du renouvellement</h4>

    <table class="projet"><tbody>
    <tr>
        <th>Justification de votre demande de renouvellement (environ 2000 caractères)<br>
            <span id="form_prjJustifRenouv_cpt" class="petit"></span>
        </th>
    </tr>
    <tr><td class="center">{{ form_widget(form.prjJustifRenouv,
                { 'attr': { 'class': 'compteur', 'rows' : 6, 'cols' : 70 } }) }}
        <div id="img_justif_renou_sts"></div>
        <div class="wrap-drop-zone">
            <div id="img_justif_renou_1" class="drop-zone" title="Faites glisser une image pour la téléverser">
                {% if  imageJust1 == null %}
                Figure 1
                {% else %}
                <img class="dropped" src="data:image/png;base64,{{ imageJust1 }}" alt="Figure 1" />
                <img class="icone" src="{{ asset('icones/poubelle32.png') }}" alt="Supprimer cette figure" title="Supprimer cette figure">
                {% endif %}
            </div>
            <div id="img_justif_renou_2" class="drop-zone" title="Faites glisser une image pour la téléverser">
                {% if  imageJust2 == null %}
                Figure 2
                {% else %}
                <img class="dropped" src="data:image/png;base64,{{ imageJust2 }}" alt="Figure 2" />
                <img class="icone" src="{{ asset('icones/poubelle32.png') }}" alt="Supprimer cette figure" title="Supprimer cette figure">
                {% endif %}
            </div>
            <div id="img_justif_renou_3" class="drop-zone" title="Faites glisser une image pour la téléverser">
                {% if  imageJust3 == null %}
                Figure 3
                {% else %}
                <img class="dropped" src="data:image/png;base64,{{ imageJust3 }}" alt="Figure 3" />
                <img class="icone" src="{{ asset('icones/poubelle32.png') }}" alt="Supprimer cette figure" title="Supprimer cette figure">
                {% endif %}
            </div>
         </div>
        <hr class="retour">
        {{ macrosmodifier.info_televersement(img_justif_renou_1,img_justif_renou_2,img_justif_renou_3) }}
        </td>
    </tr>
    </tbody></table>
    {% endif %}

    <h4>Autres informations</h4>
    <table class="projet"><tbody>
        <tr>
            <th>Financement<br><em> Si ce projet bénéficie d'un financement, précisez la source et le montant.</em></th>
        </tr>
        <tr>
            <td>{{ form_widget(form.prjFinancement ,
                { 'attr':
                    {
                    'size': '90',
                    'style' : ''
                     }
                }) }}</td>
        </tr>
    </tbody></table>

    <table class="projet"><tbody>
        <tr><th colspan="2">Ressources offertes par GENCI<br>
            <em>Si ce projet bénéficie ou a bénéficié dans les deux dernières années de temps de calcul sur un centre national, préciser quel machine(s), quel centre(s) et le nombre d'heures accordées.</em>
            </th>
        </tr>
        <tr>
            <th class="horiz">Centre(s)</th>
            <td>{{ form_widget(form.prjGenciCentre, { 'attr': { 'size': '80' } }) }}</td>
        </tr>
        <tr>
            <th class="horiz">Machine(s)</th>
            <td>{{ form_widget(form.prjGenciMachines, { 'attr': { 'size': '80' } }) }}</td>
        </tr>
        <tr>
            <th class="horiz"><label for="prj_genci_heures">Heures accordées</label></th>
            <td>{{ form_widget(form.prjGenciHeures) }}</td>
        </tr>
        <tr>
            <th class="horiz"><label for="prj_genci_dari">N° de projet Dari (le plus récent)</label></th>
            <td>{{ form_widget(form.prjGenciDari) }}</td>
        </tr>
    </tbody></table>


</div>

{# ################################################################################## #}

<div id="tab2" class="onglet"><br><br>
    <h3>Description scientifique du projet de recherche</h3>

    <table class="projet"><tbody>
        <tr>
            <th>Références bibliographiques</th>
        </tr>
        <tr>
            <td class="center">Merci de nous signaler les publications pour lesquelles les moyens de calcul de {{mesoc}} ont été utilisés.<br>
                <strong><a href="{{ path('gerer_publications', { 'id' : version.projet.idProjet }) }}"
                target="_blank" title="Entrez maintenant les références bibliographiques correspondantes">Cliquez ici</a></strong>
            </td>
        </tr>
    </tbody></table>

    <table class="projet"><tbody>
        <tr>
            <th>Résumé du projet en anglais (environ 2000 caractères)<br><span id="form_prjResume_cpt" class="petit"></span></th>
        </tr>
        <tr>
            <td class="center">{{ form_widget(form.prjResume,
                { 'attr': { 'class': 'compteur', 'rows' : 12, 'cols' : 70 } }) }}
            </td>
        </tr>
    </tbody></table>

    <div class="message warning">
        <h2>Confidentialité des données</h2>
        {{mesoc}} se réserve le droit de faire figurer sur son site web le résumé du projet,
        ainsi que le nom du responsable du projet et de son laboratoire.
        Merci de ne pas écrire ici de données confidentielles
    </div>

    <table class="projet"><tbody>
        <tr>
            <th>Exposé scientifique (environ 6000 caractères)<br><span id="form_prjExpose_cpt" class="petit"></span>
                <br><em>Exposer le problème scientifique, la situation de l'équipe par rapport au problème
                (résultats ou expérience déjà acquise dans le domaine, ou projet nouveau).<br>
                Mentionner les 3 publications les plus significatives en rapport avec le projet.</em>
            </th>
        </tr>
        <tr>
            <td class="center">{{ form_widget(form.prjExpose,
                { 'attr': { 'class': 'compteur', 'rows' : 12, 'cols' : 70 } }) }}
            </td>
        </tr>
        <tr>
        <td>
        <div class="wrap-drop-zone">
            <div id="img_expose_1" class="drop-zone" title="Faites glisser une image pour la téléverser">
                {% if imageExp1 == null %}
                Figure 1
                {% else %}
                <img class="dropped" src="data:image/png;base64,{{ imageExp1 }}" alt="Figure 1" />
                <img class="icone" src="{{ asset('icones/poubelle32.png') }}" alt="Supprimer cette figure" title="Supprimer cette figure">
                {% endif %}
            </div>
            <div id="img_expose_2" class="drop-zone" title="Faites glisser une image pour la téléverser">
                {% if imageExp2 == null %}
                Figure 2
                {% else %}
                <img class="dropped" src="data:image/png;base64,{{ imageExp2 }}" alt="Figure 2" />
                <img class="icone" src="{{ asset('icones/poubelle32.png') }}" alt="Supprimer cette figure" title="Supprimer cette figure">
                {% endif %}
            </div>
            <div id="img_expose_3" class="drop-zone" title="Faites glisser une image pour la téléverser">
                {% if imageExp3 == null %}
                Figure 3
                {% else %}
                <img class="dropped" src="data:image/png;base64,{{ imageExp3  }}" alt="Figure 3" />
                <img class="icone" src="{{ asset('icones/poubelle32.png') }}" alt="Supprimer cette figure" title="Supprimer cette figure">
                {% endif %}
            </div>
        </div>
        <hr class="retour">
        {{ macrosmodifier.info_televersement(img_expose_1,img_expose_2,img_expose_3) }}
        </td>
        </tr>
    </tbody></table>


    <table class="projet"><tbody>
        <tr>
            <th>Algorithmes ou méthodes numériques utilisées</th>
        </tr>
        <tr>
            <td class="center projet">{{ form_widget(form.prjAlgorithme,
                { 'attr': { 'rows' : 8, 'cols' : 70 } }) }}
            </td>
        </tr>
    </tbody></table>

</div>

{# ################################################################################## #}

<div id="tab3" class="onglet"><br><br>
<h3>Description technique du projet</h3>
<table class="projet"><tbody>
<tr>
    <th>Nature du code et informations sur le code utilisé</th>
</tr>
<tr>
    <td><table class="invi"><tbody>
        <tr>
            <td class="droite"><label for="form_prjConception"><em>Vous pouvez cocher plusieurs cases</em>
            <br>Conception de méthodes de calcul parallèle</label></td>
            <td class="gauche"><br>{{ form_widget(form.prjConception) }}<br></td>
        </tr>
        <tr>
            <td class="droite">{{ form_label(form.prjDeveloppement,"Développement d'un code parallèle") }}</td>
            <td class="gauche">{{ form_widget(form.prjDeveloppement) }}<br></td>
        </tr>
        <tr>
            <td class="droite">{{ form_label(form.prjParallelisation,"Parallélisation d'un code existant") }}</td>
            <td class="gauche">{{ form_widget(form.prjParallelisation) }}<br></td>
        </tr>
        <tr>
            <td class="droite">{{ form_label(form.prjUtilisation,"Utilisation d'un code parallèle") }}</td>
            <td class="gauche">{{ form_widget(form.prjUtilisation) }}<br></td>
        </tr>
        <tr>
            <td class="droite">{{ form_label(form.codeNom, "Le nom du principal logiciel que vous allez utiliser")}}</td>
            <td class="gauche">{{ form_widget(form.codeNom) }}<br><br></td>
        </tr>
        <tr>
            <td class="droite">Le langage dans lequel est programmé le logiciel<br></td>
        </tr>
        <tr>
            <td class="droite">{{ form_label(form.codeC, "C")}}</td>
            <td class="gauche">{{ form_widget(form.codeC) }}</td>
        </tr>
        <tr>
            <td class="droite">{{ form_label(form.codeCpp, "C++")}}</td>
            <td class="gauche">{{ form_widget(form.codeCpp) }}</td>
        </tr>
        <tr>
            <td class="droite">{{ form_label(form.codeFor, "Fortran")}}</td>
            <td class="gauche">{{ form_widget(form.codeFor) }}</td>
        </tr>
        <tr>
            <td class="droite">{{ form_label(form.codeAutre, "Autre")}}</td>
            <td class="gauche">{{ form_widget(form.codeAutre) }}  Lequel ? {{ form_widget(form.codeLangage) }} </td>
        </tr>{# #}
        <tr>
            <td class="droite">{{ form_label(form.gpu, "Existe-t-il un binaire GPU pour votre application ?" ) }}</td>
            <td class="gauche">{{ form_widget(form.gpu) }}<br><br></td>
        </tr>
        <tr>
            <td class="droite">{{ form_label(form.codeLicence, "Licence de ce logiciel (libre, commercial, autre, je ne sais pas)" ) }}<br></td>
            <td class="gauche">{{ form_widget(form.codeLicence, { 'attr': { 'rows' : 3, 'cols' : 50 } }) }}<br><br></td>
        </tr>{# #}
        <tr>
            <td class="droite">Avez vous déjà utilisé ce code sur une ou plusieurs machines?"
                <br><strong>Machines de GENCI</strong>: précisez le nom<br>
                <strong>Serveur ou cluster de labo</strong> : précisez son type (processeurs, OS)</td>
                <td class="gauche"><br>{{ form_widget(form.codeUtilSurMach, { 'attr': { 'rows' : 7, 'cols' : 50 } }) }}
                <br>
                <br>
            </td>
        </tr>
        <tr>{# #}
            <td class="droite">{{ form_label(form.codeHeuresPJob, "Estimation du temps CPU max d'un job (heures monoprocesseur)" ) }}</td>
            <td class="gauche">{{ form_widget(form.codeHeuresPJob) }}<br><br></td>
        </tr>
        <tr>{# #}
            <td class="droite">{{ form_label(form.codeRamPCoeur, "Estimation de la RAM nécessaire par coeur pour un job" ) }}</td>
            <td class="gauche">{{ form_widget(form.codeRamPCoeur) }}<br><br></td>
        </tr>
        <tr>{# #}
            <td class="droite">{{ form_label(form.codeRamPart, "Estimation de la RAM nécessaire en mémoire partagée" ) }}</td>
            <td class="gauche">{{ form_widget(form.codeRamPart) }}<br><br></td>
        </tr>
        <tr>{# #}
            <td class="droite">{{ form_label(form.codeEffParal, "Nombre maximal de coeurs utilisables efficacement par le code" ) }}</td>
            <td class="gauche">{{ form_widget(form.codeEffParal) }}<br><br></td>
        </tr>
        <tr>
            <td class="droite">{{ form_label(form.codeVolDonnTmp, "Estimation de l'espace-disque temporaire nécessaire par job" ) }}</td>
            <td class="gauche">{{ form_widget(form.codeVolDonnTmp) }}<br><br></td>
        </tr>
        <tr>
            <td class="droite">{{ form_label(form.demLogiciels, "Autres logiciels nécessaires au projet" ) }}<br></td>
            <td class="gauche">{{ form_widget(form.demLogiciels, { 'attr': { 'rows' : 5, 'cols' : 50 } }) }}<br><br></td>
        </tr>
       <tr>
            <td class="droite">{{ form_label(form.demBib, "Bibliothèques nécessaires" ) }}<br></td>
            <td class="gauche">{{ form_widget(form.demBib, { 'attr': { 'rows' : 5, 'cols' : 50 } }) }}<br><br></td>
        </tr>

        <tr>
            <td class="droite">Pensez-vous utiliser la <a href="{{ mesoc_visu }}" target="_blank">visualisation à distance</a> ?</td>
            <td class="gauche">{{ form_widget(form.demPostTrait) }}<br><br></td>
        </tr></tbody></table>
    </td>
</tr></tbody></table>

    <div class="projet" id="partie_3_1">
    <h3>Besoins en stockage permanent</h3>
    <p>Chaque projet dispose par défaut de <strong>1To de stockage permanent et sécurisé pour toute la durée du projet</strong>.<br>
    Il est possible de demander plus d'espace de stockage <strong>en justifiant son usage</strong>.<br>
    Le comité d'attribution de {{mesoc}} arbitrera votre demande.</p>
    <div class="field">
        <div class="label">
            <label for="form_sondVolDonnPerm">Besoins en espace-disque permanent <strong>pour l'ensemble du projet</strong></label>
        </div>
        <div class="espace">
           {{ form_widget(form.sondVolDonnPerm) }}
        </div>
    </div>

    <hr class="retour">
        <div class="field">
            <div class="label">
                <label for="sond_justif_donn_perm">Si vous demandez plus de 1 To, merci de préciser l'usage que vous envisagez:<br>
                S'agit-il de données de calcul régulièrement utilisées ?<br>
                S'agit-il de données de sortie de calcul qui doivent être stockées de manière sécurisée en attendant d'être postraitées ?<br>
                etc.<br>
                </label>
            </div>
    {{ form_widget(form.sondJustifDonnPerm, { 'attr': { 'rows' : 12, 'cols' : 70 } }) }}
        </div><hr class="retour"></div>






</div>

{# ################################################################################## #}


<div id="tab4" class="onglet"><br><br>


<h3>Formation</h3>

<table class="projet"><tbody>
    <tr>
        <th>Êtes-vous intéressés par des formations organisées par {{mesoc}} ?<br><em>Si oui cochez celles qui vous interéssent</em><br></th>
    </tr>
    <tr>
        <td>
        <table class="invi"><tbody>
            <tr>
                <td class="droite">{{ form_label(form.demFormPrise, "Prise en main du système de calcul" ) }}</td>
                <td class="gauche">{{ form_widget(form.demFormPrise) }}</td>

            </tr>
            <tr>
                <td class="droite">{{ form_label(form.demFormDebogage, "Débogage parallèle" ) }}</td>
                <td class="gauche">{{ form_widget(form.demFormDebogage) }}</td>
            </tr>
            <tr>
                <td class="droite">{{ form_label(form.demFormOptimisation, "Optimisation du code" ) }}</td>
                <td class="gauche">{{ form_widget(form.demFormOptimisation) }}</td>
            </tr>
        </tbody></table>
        </td>
    </tr>
</tbody></table>

<table class="projet"><tbody>
    <tr>
        <th>Seriez-vous intéressés par d'autres formations ?<br><em>Si oui cochez celles qui vous interéssent</em><br></th>
    </tr>
    <tr>
        <td><table class="invi"><tbody>
            <tr>
                <td class="droite">{{ form_label(form.demFormFortran, "Fortran" ) }}</td>
                <td class="gauche">{{ form_widget(form.demFormFortran) }}</td>
            <tr>
                <td class="droite">{{ form_label(form.demFormC, "C" ) }}</td>
                <td class="gauche">{{ form_widget(form.demFormC) }}</td>
            </tr>
            <tr>
                <td class="droite">{{ form_label(form.demFormCpp, "C++" ) }}</td>
                <td class="gauche">{{ form_widget(form.demFormCpp) }}</td>
            </tr>
            <tr>
                <td class="droite">{{ form_label(form.demFormPython, "Python" ) }}</td>
                <td class="gauche">{{ form_widget(form.demFormPython) }}</td>
            </tr>
            <tr>
                <td class="droite">{{ form_label(form.demFormMPI, "MPI" ) }}</td>
                <td class="gauche">{{ form_widget(form.demFormMPI) }}</td>
            </tr>
            <tr>
                <td class="droite">{{ form_label(form.demFormOpenMP, "OpenMP" ) }}</td>
                <td class="gauche">{{ form_widget(form.demFormOpenMP) }}</td>
             </tr>
            <tr>
                <td class="droite">{{ form_label(form.demFormOpenACC, "OpenACC (GPU)" ) }}</td>
                <td class="gauche">{{ form_widget(form.demFormOpenACC) }}</td>
            </tr>
            <tr>
                <td class="droite">{{ form_label(form.demFormParaview, "Paraview" ) }}</td>
                <td class="gauche">{{ form_widget(form.demFormParaview) }}</td>
            </tr>
            <tr>
                <td class="droite">{{ form_label(form.demFormAutresAutres,"Vous pouvez préciser d'autres formations que vous souhaiteriez ici") }}</td>
                <td class="gauche">{{ form_widget(form.demFormAutresAutres, { 'attr': { 'rows' : 5, 'cols' : 50 } }) }}</td>
            </tr>
    </tbody></table></td>
    </tr>
</tbody></table>


</div>

{# ################################################################################## #}

</div>

<div id="quitter">

{# <input id="id_version4" name="id_version" value="17BP17022" type="hidden"> #}
    {% if renouvellement %}
    <input class="invisible_if_no_js" name="RENOUVELER" id="Renouveler" value="Renouvellement" title="Renouveler le projet" type="submit"><br />
    {% else %}
    <input class="invisible_if_no_js"  type="submit" name="ENREGISTRER" id="Enregistrer" value="Enregistrer" title="Enregistrer le projet sans le fermer" />
    {# {{ form_widget( form.enregistrer, { 'attr': { 'class' : 'invisible_if_no_js', 'title' : 'Enregistrer le projet sans le fermer' } }) }}  #}
    {{ form_widget( form.annuler, { 'attr': { 'title' : 'Abandonner les modifications' } }) }}
    {{ form_widget( form.fermer, { 'attr': { 'title' : 'Enregistrer et fermer le projet'  } }) }}
    {# <input type="submit" name="QUITTER" value="FERMER" title="Enregistrer et fermer le projet"/> #}
    {% endif %}
    {# <input type="submit" name="ANNULER" value="Annuler" title="Abandonner les modifications"/> #}

</div>

{{ form_end(form) }}

<div id="enregistrer_message" ></div>

{% endblock %}
