{# app/Resources/views/default/accueil.html.twig #}
{% extends 'default/base.html.twig' %}

{% import "default/macros.html.twig" as gramcmacros %}

{% block body %}
<section>
<h1>Bienvenue sur la plateforme d'attribution de ressources de {{mesoc}} </h1>

{{ gramcmacros.menu(menu) }}

{# message #}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="message info"><h2>Informations</h2>

{{ block ('message') }}
<p>En attendant, <strong>vous pouvez demander un supplément de ressources</strong>
 pour votre projet en écrivant à <a href="mailto:{{ mailadmin }}">{{ mailadmin }}</a><br />

{% if projet_test %}
Si vous ne connaissez pas encore {{mesoc}}, vous pouvez demander un <strong>projet&nbsp;test</strong>
(cliquer sur le lien Demandeur)
{% endif %}

</p>
</div>

{% else %}

<div class="message info"><h2>Démarrage</h2>
Merci de cliquer sur connexion en haut à droite de l'écran pour démarrer.<br />
Vous devrez utiliser les identifiants de votre établissement d'appartenance.
(Si vous ne comprenez pas ce message, merci de <em><a href="mailto:{{ mailadmin }}">prendre contact avec nous</a></em>)
</div>

{% endif %}
</section>
<br>
{% endblock %}
