{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}

{% block body %}
<section>
    <h2>Générer et télécharger le bilan de session</h2>

    {{ form_start(form) }}
        {{ form_widget(form.session) }}{{ form_widget(form.submit) }}
    {{ form_end(form) }}

    <br />

    <form action="{{ path('bilan_session_csv', {'id': idSession }) }}">
        <input type="submit" value="Générer le bilan de la session {{ idSession }} en csv" />
    </form>



</section>
<hr />

<section>

    <h2>Réponses au questionnaire (session {{ idSession }})</h2>


    <form action="{{ path('questionnaire_csv', {'id': idSession } ) }}">
            <input type="submit" value="Télécharger en csv" />
    </form>


    <br>

    <div id="projets"><table id="bilan_session">
        <thead>
            <tr>
                <th>Numéro</th>
                <th></th>
                <th>Heures demandées</th>
                <th>Heures attribuées</th>
                <th>Heures consommées</th>
                <th>titre</th>
                <th>Thématique</th>
                <th>Responsable</th>
                <th>Laboratoire</th>
                <th>Langage</th>
				<th>GPU</th>
                <th>Nom du code</th>
                <th>Licence du code</th>
                <th>Heure/job</th>
                <th>Ram/coeur</th>
                <th>Ram partagée</th>
                <th>Efficacité parallèle</th>
                <th>Données temporaires</th>
                <th>Post-traitement</th>
                {# <th>Durée</th> #}
                <th>meta données</th>
                <th>nombre de datasets</th>
                <th>taille de chaque dataset</th>

            </tr>
        </thead>
        <tbody>
        {% for version in versions %}
        <tr>
            <td>{{ version.idVersion }}</td>
            <td>
                {% if version.projet != null and  version.projet.idProjet != null %}
                <a href="{{ path('consulter_projet', { 'id': version.projet.idProjet }) }}" title="Consulter le projet">
                <img src="{{ asset('icones/consulter.png') }}" alt="consulter" /></a>
                {% endif %}
            </td>
            <td>{{ version.demHeures }}</td>
            <td>{{ version.attrHeures }}</td>
            <td>{{ version.getconsocalcul }}</td>
            <td>{{ version.prjTitre }}</td>
            <td>{{ version.prjThematique }}</td>
            <td>{{ version.responsable }}</td>
            <td>{{ version.labo }}</td>
            <td>{% if version.codeC %} C {% endif %}{% if version.codeCpp %} C++ {% endif %}{% if version.codeFor %} Fortran {% endif %}{{ version.codeLangage }}</td>
            <td>{{ version.gpu }}</td>
            <td>{{ version.codeNom }}</td>
            <td>{{ version.codeLicence }}</td>
            <td>{{ version.codeHeuresPJob }}</td>
            <td>{{ version.codeRamPCoeur }}</td>
            <td>{{ version.codeRamPart }}</td>
            <td>{{ version.codeEffParal }}</td>
            <td>{{ version.codeVolDonnTmp }}</td>
            <td>{{ version.demPostTrait }}</td>
            <td>{{ version.datametadataformat }}</td>
            <td>{{ version.datanombredatasets }}</td>
            <td>{{ version.datatailledatasets }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table></div>

</section>

{% endblock body %}
