{% extends 'default/base.html.twig' %}

{% block body %}
<section>
    <h1>Laboratoires enregistrés dans gramc</h1>

    {% import "default/macros.html.twig" as gramcmacros %}
    {{ gramcmacros.menu(menu) }}

    <table id="laboratoires" >
    <thead>
        <tr>
			{% if is_granted('ROLE_ADMIN') %}<th colspan="2">&nbsp;</th>{% endif %}<th>Numéro d'ordre</th><th>Acronyme</th><th>Libellé</th>
        </tr>
    </thead>
    <tbody>
    {% for labo in laboratoires %}
        <tr>
			{% if is_granted('ROLE_ADMIN') %}
            <td>
                <a class="suppression" href="{{ path('supprimer_laboratoire',{'id' : labo.idLabo }) }}" title="Supprimer">
                <img class="bouton_poussoir" src="{{ gramcmacros.img_supprimer() }}" alt="Supprimer" /></a>
            </td>
            <td>
                <a class="modification" href="{{ path('modifier_laboratoire',{'id' : labo.idLabo }) }}" title="Modifier le libellé">
                <img class="bouton_poussoir" src="{{ gramcmacros.img_modifier() }}" alt="Modifier" /></a>
            </td>
            {% endif %}
            <td>{{ labo.numeroLabo }}</td>
            <td> {{ labo.acroLabo }}</td>
            <td>{{ labo.nomLabo }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</section>

{% endblock body  %}
