
<div id="bilan_legende">
	<div id="bilan">
       <table>
            <tbody>
                <tr>
					<th colspan="2">Sélection des expertises</th>
                </tr>
                <tr>
                    <th>Inverser la sélection</th>
                    <td style="text-align: center"><img id="invsel" class="bouton_off" src="{{ asset('icones/invsel.png') }}" alt="Inverser la sélection" /></td>
                </tr>
            </tbody>
       </table>
        <table>
            <tbody>
                <tr>
					<th colspan="3">Projets</th>
                </tr>
                <tr>
                    <th>Nombre de projets</th>
                    <td>{{ stats.nbProjets }}</td>
                    <td>&nbsp;</td>
                </tr>
               <tr>
                    <th>Heures demandées</th>
                    <td>{{ stats.nbDemHeures}}</td>
                    <td>&nbsp;</td>
               </tr>
               <tr>
                    <th>Heures attribuées</th>
                    <td>{{ stats.nbAttHeures}}</td>
                    <td>&nbsp;</td>
               </tr>
				{% if (stats.nouveau!=null and stats.renouvellement!=null) %}
                <tr>
                    <th colspan="3">Projets avec experts affectés</th>
                </tr>
                <tr>
                    <th>Nouveaux projets</th>
                    <td>{{ stats.nouveau }}</td>
                    <td><input type="checkbox" class="cb" id="nouveau" checked="checked"></td>
                </tr>
                <tr>
                    <th>Renouvellements</th>
                    <td>{{ stats.renouvellement }}</td>
                    <td><input type="checkbox" class="cb" id="renouv" checked="checked"></td>
                </tr>
				{% endif %}
				{% if (stats.sansexperts != null) %}
               <tr>
                    <th colspan="3">Projets sans experts</th>
               </tr>
               <tr>
                    <th>Projets sans expert</th>
                    <td>{{ stats.sansexperts }}</td>
                    <td><input type="checkbox" class="cb" id="sansexperts" checked="checked"></td>
               </tr>
               {% endif %}
            </tbody>
        </table>

{# #################################################################### #}
{% if( experts != null ) %}

        <table id="experts">
            <tbody>
                <tr>
                    <th colspan="3">Experts</th>
                </tr>
                {% for exp in experts %}
                <tr>
                    <th>{{ exp.expert}}
                        {% if exp.expert.thematique|length>0 or exp.expert.rattachement|length>0 %}<br>
                        <small class="light"><em> - 
                        {% for thematique in exp.expert.thematique %}{{thematique}} - {% endfor %}
                        {% for ratt       in exp.expert.rattachement %}{{ratt}} - {% endfor %}
                        </em></small>
                        {% endif %}
                    </th>
                    <td>{{ exp.projets }}</td>
                    <td><input type="checkbox" class="cb" id="e{{ exp.expert.idindividu }}" checked="checked"></td>
                </tr>
                {% endfor %}
                <tr>
                    <th>Tout décocher</th>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" id="eX" checked="checked"></td>
                </tr>
            </tbody>
        </table>
{% endif %}

{# #################################################################### #}
{% if (thematiques != null) %}
        <table id="themas">
            <tbody>
                <tr>
                    <th colspan="3">Thématiques</th>
                </tr>
                {% for key, thema in thematiques %}
                    {% if( thema.projets > 0 ) %}
                    <tr>
                        <th>{{ thema.thematique}}
                            {% if(  thema.experts| length > 0 )%}<br>
                                <small class="light"><em> - {% for expert in thema.experts %}{{expert}} - {% endfor %}</em></small>
                            {% endif %}
                        </th>
                        <td>{{ thema.projets }}</td>
                        <td><input type="checkbox" class="cb" id="t{{ key }}" checked="checked"></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <th>Tout décocher</th>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" id="tX" checked="checked"></td>
                </tr>
           </tbody>
        </table>
{% endif %}

{# #################################################################### #}
{% if (rattachements != null) %}
        <table id="ratt">
            <tbody>
                <tr>
                    <th colspan="3">Rattachements</th>
                </tr>
                {% for key, ratt in rattachements %}
                    {% if( ratt.projets > 0 ) %}
                    <tr>
                        <th>{{ ratt.rattachement}}
                            {% if(  ratt.experts| length > 0 )%}<br>
                                <small class="light"><em> - {% for expert in ratt.experts %}{{expert}} - {% endfor %}</em></small>
                            {% endif %}
                        </th>
                        <td>{{ ratt.projets }}</td>
                        <td><input type="checkbox" class="cb" id="r{{ key }}" checked="checked"></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <th>Tout décocher</th>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" id="rX" checked="checked"></td>
                </tr>
           </tbody>
        </table>
{% endif %}

	</div>
</div>

