{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}

{% block myjavascripts %}
 <script   src="{{ asset('js/projets_experts.js') }}" ></script>
{% endblock myjavascripts %}

{% block body %}

<section>

<h1>{{ titre }}</h1>
{% if forms|length > 0 %}
<div class="message info"><em>Commencez par sélectionner une ou plusieurs demandes</em></div>
{% endif %}

<p>&nbsp;</p>
{% if sessionForm != null %}
	{{ form_start( sessionForm ) }}
	{{ form_widget( sessionForm.session ) }}
	{{ form_widget( sessionForm.submit ) }}
	{{ form_end( sessionForm ) }}
	<hr />
{% endif %}

{% include('expertise/affectation_bilans.html.twig') %}


{# #################################################################### #}

    <form name="affecter_les_experts" method="post">
    <div id="projets">
        <table id="affecte_experts">
            <thead>
                <tr>
				    <th title="Cocher la case pour sélectionner ce projet">S</th>
                    <th >N</th>
                    <th >N°</th>
                    <th >&nbsp;</th>
                    <th title="Etat">E</th>
                    <th >Titre</th>
                    <th >Thématique</th>
                    <th >Responsable</th>
                    <th >Laboratoire</th>
                    <th title="Affecté">A</th>
                    <th >Expert</th>
                    <th >Demande</th>
                    <th >Attribution</th>
                    {% if noconso==false %}<th >Conso</th>{% endif %}
                </tr>
            </thead>
            <tbody>
            {% for version in versions %}
            <tr>
				<td >
					{% if forms['selection_' ~ version.getIdVersion()] is defined %}
	                {{ form_widget( forms['selection_' ~ version.getIdVersion()].sel ) }}
	                {% endif %}
				</td>
					{% set cls="w15 " %}
	                {% if ( version.getExpert() == null ) %} 
						{% set cls=cls ~ "sansexperts " %}
					{% else %}
						{% if (version.isNouvelle()) %} {% set cls=cls ~ "nouveau " %} {% else %} {% set cls=cls ~ "renouv " %} {% endif %}
						{% for e in version.expertise %} {% set cls=cls ~ e.expert.idIndividu %} {% endfor %}
					{% endif %}
	                {% if( version.isNouvelle() ) %}
	                    <td class="{{cls}}"><strong>N</strong></td>
	                {% else %}
	                    <td class="{{cls}}">&nbsp;</td>
	                {% endif %}

                <td > {{  version.projet }}</td>
                <td >
                    <a href="{{ path('consulter_projet', { 'id' : version.projet.idProjet } ) }}">
                    <img class="bouton_poussoir" src="{{ asset('icones/consulter.png') }}" alt="Consulter">
                    </a>
                </td>
                <td >{{ gramcmacros.metagraph(version.projet.metaEtat) }}</td>
                <td >
                    {{ gramcmacros.afftitre(version.prjtitre) }}
                </td>
                {% if( version.prjThematique != null ) %}
                <td class="t{{ version.prjThematique.idThematique }} w170">{{ version.prjThematique }}</td>
                {% else %}
                <td ></td>
                {% endif %}

                <td >
                {% if( version.responsable != null ) %}
                <a class="sudo" href="{{ path('sudo',  { 'id': version.responsable.id }) }}?" title="Changer d'identité">
                            <img class="bouton_poussoir" src="{{ asset('icones/sudo.png') }}" alt="Changer d'identité" /></a>
                <a href="mailto:{{ version.responsable.mail }}" title="Envoyer un courriel au responsable à l'adresse {{ version.responsable.mail }}">
                            <img src="{{ asset('icones/mail_send.png') }}" alt="Envoyer un mail" /></a>
                {{ version.responsable.prenom }} {{ version.responsable.nom }}
                {% endif %}
                </td>

                <td >{% if( version.labo != null ) %}{{ version.labo.acrolabo }}{% else %}TOTO{% endif %}</td>
                <td >
                    {% if( version.hasExpert ) %}
                     <img src="{{ asset('icones/actif.png') }}" alt="Expert affecté" title="Expert affecté"><span class="invisible">affecté</span>
                    {% endif %}
                </td>

                {% if( not (version.getExpert() == null ) ) %}
                <td class="e{{ version.getExpert().idIndividu }} w170">
                {% else %}
                <td >
                {% endif %}
				{% if forms[version.getIdVersion()] is defined %}
                <span class="invisible">{% for e in version.expertise %}{{ e.expert}}{% endfor %}</span>
                    {# {{ form_start( forms[version.getIdVersion()] ) }} #}
                    {% for f in forms[version.getIdVersion()] %}{{ form_widget( f.expert ) }}<br />{% endfor %}
                    {# {{ form_end( forms[version.getIdVersion()] ) }} #}
                {% else %}
                	{% for e in version.expertise %}
                    <a class="sudo" href="{{ path('sudo',  { 'id': e.expert.id }) }}?" title="Changer d'identité">
                        <img class="bouton_poussoir" src="{{ asset('icones/sudo.png') }}" alt="Changer d'identité" /></a>
                        {{e.expert}}<br />
                    {% endfor %}
                {% endif %}
                </td>
                <td >{{ version.demHeures }}</td>
                <td >{% if version.idVersion is defined and attHeures[version.idVersion] is defined %}{{ attHeures[version.idVersion] }}{% endif %}</td>
                {% if noconso==false %}
                <td >{{ version.getconsocalcul }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if forms['BOUTONS'] is defined %}
        <div id="bouton_affecter">
			<h2>Pour la sélection</h2>
			{#{{ form_start( forms['BOUTONS'] ) }}#}
			{{ form_widget( forms['BOUTONS'].sub1 ) }}
			{{ form_widget( forms['BOUTONS'].sub2 ) }}
			{% if max_expertises_nb > 1 %}
				{{ form_widget( forms['BOUTONS'].sub3 ) }}
				{{ form_widget( forms['BOUTONS'].sub4 ) }}
			{% endif %}
			{#{{ form_end( forms['BOUTONS'] ) }}#}
		</div>
		{% endif %}
    </div>
</form>
</section>
{% endblock %}
