{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}

{% block myjavascripts %}
 <script   src="{{ asset('js/projets_experts.js') }}" ></script>
{% endblock myjavascripts %}

{% block body %}

<section>

{% if( projets_test == false ) %}
<h1>Affectation des experts aux projets de la session {{ session }}</h1>

{{ form_start( sessionForm ) }}
{{ form_widget( sessionForm.session ) }}
{{ form_widget( sessionForm.submit ) }}
{{ form_end( sessionForm ) }}

{% else %}
<h1>Affectation des experts aux projets test de l'année {{ annee }}</h1>
{% endif %}

<br>

<div id="bilan_legende">
    <div id="bilan">
        <table>
            <tbody>
                <tr>
                    <th colspan="3">Projets</th>
                </tr>
                <tr>
                    <th>Nombre de projets</th>
                    <td>{{ nbProjets }}</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>Nouveaux projets</th>
                    <td>{{  nouveau }}</td>
                    <td><input type="checkbox" class="cb" id="nouveau" checked="checked"></td>
                </tr>
                <tr>
                    <th>Renouvellements</th>
                    <td>{{  renouvellement }}</td>
                    <td><input type="checkbox" class="cb" id="renouv" checked="checked"></td>
                </tr>
                <tr>
                    <th>Heures demandées</th>
                    <td>{{ nbDemHeures}}</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>Heures attribuées</th>
                    <td>{{ nbAttHeures}}</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>

{# #################################################################### #}

        <table id="themas">
            <tbody>
                <tr>
                    <th colspan="3">Thématiques</th>
                </tr>
                {% for key, thema in thematiques %}
                    {% if( thema.projets > 0 ) %}
                    <tr>
                        <th>{{ thema.thematique}}
                            {% if(  thema.experts| length > 0 )%}<br>
                                <small class="light"><em> - {% for expert in thema.experts %}{{expert}} - {% endfor %}</em></small>
                            {% endif %}
                        </th>
                        <td>{{ thema.projets }}</td>
                        <td><input type="checkbox" class="cb" id="t{{ key }}" checked="checked"></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <th>Tout décocher</th>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" id="tX" checked="checked"></td>
                </tr>
           </tbody>
        </table>

{# #################################################################### #}
{% if( projets_test == false ) %}

        <table id="experts">
            <tbody>
                <tr>
                    <th colspan="3">Experts</th>
                </tr>
                {% for key, exp in experts %}
                <tr>
                    <th>{{ exp.expert}}
                        {% if( exp.expert.thematique | length > 0 )%}<br>
                        <small class="light"><em> - {% for thematique in exp.expert.thematique %}{{thematique}} - {% endfor %}</em></small>
                        {% endif %}
                    </th>
                    <td>{{ exp.projets }}</td>
                    <td><input type="checkbox" class="cb" id="e{{ key }}" checked="checked"></td>
                </tr>
                {% endfor %}
                <tr>
                    <th>Tout décocher</th>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" id="eX" checked="checked"></td>
                </tr>
            </tbody>
        </table>
{% endif %}
<br /><br />
</section>

{# #################################################################### #}

<section>
    <form name="affecter_les_experts" method="post">
    <div id="projets">
        {# largeur = largeur des colonnes + padding + bordure #}
        {% set width=3*15+45+4*80+4*170 + 20*13 + 40  %}
        {% if noconso==false %}{% set width = 80 + width %}{% endif %}
        <table id="affecte_experts" class="scrtable dataTable no-footer" role="grid" style="width: {{width}}px" >
            <thead>
                <tr>
                    <th class="w15">N</th>
                    <th class="w45">N°</th>
                    <th class="w15">&nbsp;</th>
                    <th class="w15" title="Etat">E</th>
                    <th class="w170">Titre</th>
                    <th class="w170">Thématique</th>
                    <th class="w170">Responsable</th>
                    <th class="w80">Laboratoire</th>
                    <th class="w15" title="Affecté">A</th>
                    <th class="w170">Expert</th>
                    <th class="w80">Demande</th>
                    <th class="w80">Attribution</th>
                    {% if noconso==false %}<th class="w80">Conso</th>{% endif %}
                </tr>
            </thead>
            <tbody>
            {% for version in versions %}
            <tr>
                {% if( version.isNouvelle() ) %}
                    <td class="nouveau w15"><strong>N</strong></td>
                {% else %}
                    <td class="renouv w15">&nbsp;</td>
                {% endif %}

                <td class="w45"> {{  version.projet }}</td>
                <td class="w15">
                    <a href="{{ path('consulter_projet', { 'id' : version.projet.idProjet } ) }}">
                    <img class="bouton_poussoir" src="{{ asset('icones/consulter.png') }}" alt="Consulter">
                    </a>
                </td>
                <td class="w15">{{ gramcmacros.metagraph(version.projet.metaEtat) }}</td>
                <td class="w170">
                    {{ gramcmacros.afftitre(version.prjtitre) }}
                </td>
                {% if( version.prjThematique != null ) %}
                <td class="t{{ version.prjThematique.idThematique }} w170">{{ version.prjThematique }}</td>
                {% else %}
                <td class="w170"></td>
                {% endif %}

                <td class="w170">
                {% if( version.responsable != null ) %}
                <a class="sudo" href="{{ path('sudo',  { 'id': version.responsable.id }) }}?" title="Changer d'identité">
                            <img class="bouton_poussoir" src="{{ asset('icones/sudo.png') }}" alt="Changer d'identité" /></a>
                <a href="mailto:{{ version.responsable.mail }}" title="Envoyer un courriel au responsable à l'adresse {{ version.responsable.mail }}">
                            <img src="{{ asset('icones/mail_send.png') }}" alt="Envoyer un mail" /></a>
                {{ version.responsable.prenom }} {{ version.responsable.nom }}
                {% endif %}
                </td>

                <td class="w80">{% if( version.labo != null ) %}{{ version.labo.acrolabo }}{% endif %}</td>
                <td class="w15">
                    {% if( version.hasExpert ) %}
                     <img src="{{ asset('icones/actif.png') }}" alt="Expert affecté" title="Expert affecté"><span class="invisible">affecté</span>
                    {% endif %}
                </td>

                {% if( not (version.getExpert() == null ) ) %}
                <td class="e{{ version.getExpert().idIndividu }} w170">
                {% else %}
                <td class="w170">
                {% endif %}
                {% if( version.libelleEtat=='EDITION_EXPERTISE' or version.libelleEtat== 'EXPERTISE_TEST') %}
                    {# {{ form_start( forms[version.getIdVersion()] ) }} #}
                    {{ form_widget( forms[version.getIdVersion()].expert ) }}
                    {# {{ form_end( forms[version.getIdVersion()] ) }} #}
                {% else %}
                    {% if( version.expert!= null ) %}
                    <a class="sudo" href="{{ path('sudo',  { 'id': version.expert.id }) }}?" title="Changer d'identité">
                        <img class="bouton_poussoir" src="{{ asset('icones/sudo.png') }}" alt="Changer d'identité" /></a>
                        {{ version.getExpert() }}
                    {% endif %}
                {% endif %}
                </td>
                <td class="w80">{{ version.demHeures }}</td>
                <td class="w80">{% if version.idVersion is defined and attHeures[version.idVersion] is defined %}{{ attHeures[version.idVersion] }}{% endif %}</td>
                {% if noconso==false %}
                <td class="w80">{{ version.getConso() }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="bouton_affecter"><input value="Affecter les experts" type="submit"></div>
    </div>
</form>
</section>

{% endblock %}
