{% extends 'version/collaborateurs.html.twig' %}

{% block myjavascripts %}

{{ parent() }}

<script   src="{{ asset('js/compteur_caracteres.js') }}" ></script>
<script   src="{{ asset('js/figures.js') }}" ></script>
<script   src="{{ asset('js/jquery-upload-file-master/js/jquery.uploadfile.min.js') }}" ></script>
<script   src="{{ asset('js/upload.js') }}" ></script>
<script   src="{{ asset('js/formulaire_onglet.js') }}" ></script>

<script>
  $( function()
    {
    $( "#onglets" ).tabs( { classes: { "ui-tabs": "highlight" } });
    });
</script>

{% endblock myjavascripts %}
{# ####################################################################################################### #}
{% form_theme form _self %}
{% block form_start %} {# pour ajouter enctype="multipart/form-data" pour upload #}
 {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}enctype="multipart/form-data">
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{% endblock form_start %}
{% block body %}

<section>
	<h2>Projet {{ version.projet }}, session {{ version.session }}: Complétez votre demande</h2>
	<p>version = {{version}}</p>
	 <h2>Champs à compléter</h2>
	Les champs ci-dessous <strong>doivent être complétés</strong> avant que vous puissiez envoyer votre projet en expertise.<br />
	<table class="projet">
		<tbody>
			<tr>
				<th>Résumé du projet en anglais (environ 2000 caractères)<br><span id="form_prjResume_cpt" class="petit"></span></th>
			</tr>
			<tr>
				<td class="center">
				</td>
			</tr>
			<tr>
				<th>Exposé scientifique (environ 6000 caractères)<br><span id="form_prjExpose_cpt" class="petit"></span>
					<br><em>Exposer le problème scientifique, la situation de l'équipe par rapport au problème
					(résultats ou expérience déjà acquise dans le domaine, ou projet nouveau).<br>
					Mentionner les 3 publications les plus significatives en rapport avec le projet.</em>
				</th>
			</tr>
		</tbody>
	</table>
</section>

{% endblock %}
