<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
	</head>
</html>

{% block header %}
{% endblock header %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block mystyles %}
        <link href="{{ absolute_url(asset('css/defaut.css'))  }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock mystyles %}

{% block javascripts %}
{% endblock javascripts %}

{% block fil_ariane %}
{% endblock fil_ariane %}

{% block menu %}
{% endblock menu %}

{% block before_body %}
{% endblock before_body %}

{% block datatables %}
{% endblock datatables %}

{% block body %}
<h1>CALMIP - Données de facturation</h1>

<table>
	<tbody>
		<tr class="titre"><th colspan=2>Données de facturation {{projet}}-{{numero}}</th></tr>
		<tr><th>Projet</th><td>{{projet}}</td></tr>
		<tr><th>Données de facturation numéro</th><td>{{numero}}</td></tr>
		<tr><th>Début de la période</th><td>{{debut_periode|date('d-M-Y')}}</td></tr>
		<tr><th>Fin de la période</th><td>{{fin_periode|date('d-M-Y')}}</td></tr>
		<tr><th>Consommation normalisée</th><td>{{conso}}</td></tr>
	</tbody>
</table>

<h2>Evolution de la consommation sur la période</h2>
<img class="dfct" src="data:image/png;base64,{{ dessin_periode }}" />
<h2>Evolution de la consommation sur l'année {{annee}}</h2>
<img class="dfct" src="data:image/png;base64,{{ dessin_annee }}" />

{% endblock body %}



